
{% extends "base.html.twig" %}


{% block body %}
  
        <div class="row">
            <div class="col-md-6" >
                <div class="panel panel-primary" id="recapitulatif" >
                    <div class="panel-heading">Information genérale</div>

                    <div class="panel-body" >

                        <p><strong>{{totalticket}} de divers ticket restaurant d'une valeur de {{ Totaldtr *0.01 }} €.</strong></p>
                        <p><strong>{{ ( Totaldtr + sum )*0.01}} € de DTR et de kadéos.</strong></p>
                        
                        <p><strong></strong></p>
                        
                        


                    </div>
                </div>
                {{ render(controller("coffreappBundle:Default:Detailstitre")) }}        <a type="button" class="btn btn-primary" href="{{path('index')}}" >Retour</a>


            </div>
        </div>
 

{% endblock %}